    .admin__menu {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
       position: absolute;
       z-index: 1010;
       top:0;
       left: 7%;
    }

    .container__menu {
        margin: 0 auto;
        max-width: 576px;
        position: relative;
    }

    .menu {
        display: flex;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 576px;
        background: black; /* Черный фон */
        padding: 10px 0;
        border-top: 2px solid #fff;
        z-index: 1000; /* Поднятие меню выше других элементов */
    }
    
    .menu img {
        filter: invert(1); /* Делаем иконки белыми */
        transition: transform 0.3s ease;
    }
    

    .menu a.active img {
        transform: scale(1.1);
        filter: invert(11%) sepia(90%) saturate(5000%) hue-rotate(280deg) brightness(100%) contrast(110%);
    }
    