
:root {

    // Font size
    --fz48: 48px;
    --fz32: 32px;
    --fz30: 30px;
    --fz26: 26px;
    --fz22: 22px;
    --fz18: 18px;
    --fz16: 16px;
    --fz14: 14px;
    --fz12: 12px;

    // Font weight
    --fw900: 900;
    --fw800: 800;
    --fw700: 700;
    --fw600: 600;
    --fw500: 500;
    --fw400: 400;

    // colors
    --black: #000;
    --white: #fff;
    --purple: #8503ff;
}